.swiper{
  background: #f7f8f3;
  text-align: center;
  padding-bottom: 140px;
  &__title{
    font-size: 30px;
    color: $dark;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-bottom: 80px;
  }
  &__content{
    min-height: 520px;
    position: relative;
    background: #fff;
    border: 1px solid #ced6af;
    padding-top: 40px;
  }
  &__stars{
    margin-bottom: 20px;
  }
  &__star{
    color: $tabs;
    font-size: 16px;
    cursor: pointer;
    transition: all .3s ease;
    &:hover{
      color: $dark;
    }
  }
  &__subtitle{
    font-size: 18px;
    color: $dark;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    margin-bottom: 60px;
  }
  &__cost{
    width: 100%;
    @include pos($b: 0, $l: 0);
    display: flex;
    background: #f1f1f1;
    align-items: center;
    border: 1px solid #e1e1e1;
   border-top: none;
  }
  &__price{
    text-align-last: left;
    font-size: 18px;
    letter-spacing: 2.7px;
    color: $dark;
    flex-grow: 1;
    padding-left: 30px;
  }
  &__container{
    margin-bottom: 55px;
  }
  &__arrows{
    display: flex;
    justify-content: center;
  }
  &__arrow{
    font-size: 20px;
    color: $tabs;
    margin: 0 20px;
  }
  &__prev{
    transform: rotate(180deg);
  }
}