.burger{
  @include size(40px, 30px);
  @include pos($t: 20px, $r: 30px, $z: 100, $pos: fixed);
  cursor: pointer;
  &__line{
    @include size(100%, 2px);
    @include pos();
    background: #000;
    transition: 0.25s ease-in-out;
    &:nth-child(1){
      top: 0;
    }
    &:nth-child(2){
      @include align($pos: absolute);
    }
    &:nth-child(3){
      bottom: 0;
    }
  }
  &__open{
    .burger__line{
      &:nth-child(1){
        transform: rotate(45deg);
        top: 14px;
      }
      &:nth-child(2){
        opacity: 0;
      }
      &:nth-child(3){
        transform: rotate(-45deg);
        bottom: 14px;
      }
    }
  }
}

@media (min-width: 769px){
  .burger{
    display: none;
  }
}